h1#login-header {
  display: block;
}

h1#signup-header {
  display: none;
}

#login-form {
  display: block;
}

#signup-form {
  display: none;
}

span.form-changer {
  color: #3ca7bd;
}

span.form-changer:hover {
  cursor: pointer;
  text-decoration: underline;
}
